LEGACY_DB_HOST=
LEGACY_DB_PORT=3306
LEGACY_DB_USER=
LEGACY_DB_PASSWORD=
LEGACY_DB_NAME=
SSH_BOX_HOST=
SSH_BOX_USER=
SSH_KNOWN_HOSTS_FILE=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
LEGACY_S3_BUCKET=
LEGACY_S3_URL=
LEGACY_CDN_URL=
V3_API_KEY_MANTALKS_PROD=
LEGACY_HUB_LOGIN_EMAIL=
LEGACY_HUB_LOGIN_PASSWORD=
V3_VERIFY_LOGIN_EMAIL=
V3_VERIFY_LOGIN_PASSWORD=
V3_TEST_MEMBER_NOENT_TOKEN=
V3_TEST_MEMBER_ENTITLED_TOKEN=
